WorkFlows/DELETION WORKFLOW.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        -80
      ],
      "id": "599d9018-3b6c-46d9-9885-715074c23ac6",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{$('EXRACT  USEFUL  METADATA').item.json.DOC_ID}}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2080,
        -48
      ],
      "id": "a30091f2-2231-41d6-9ed6-a7f73587885c",
      "name": "DELETE ALL OLD ROWS FROM VECTOR STORE BY FILE ID 1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "3cRXAQK1eN8QzIzJ",
          "name": "LOCAL SUPABASE V"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "processed_files",
        "filters": {
          "conditions": [
            {
              "keyName": "file_id",
              "condition": "eq",
              "keyValue": "={{ $json.doc_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3248,
        -48
      ],
      "id": "380ddf5e-5a73-476e-9ea6-f5b8448987ee",
      "name": "DELETE FROM PROCESSED FILES ",
      "credentials": {
        "supabaseApi": {
          "id": "3cRXAQK1eN8QzIzJ",
          "name": "LOCAL SUPABASE V"
        }
      }
    },
    {
      "parameters": {
        "tableId": "deleted_files",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "file_id",
              "fieldValue": "={{ $('EXRACT  USEFUL  METADATA').item.json.DOC_ID }}"
            },
            {
              "fieldId": "file_title",
              "fieldValue": "={{ $('EXRACT  USEFUL  METADATA').item.json.DOC_NAME }}"
            },
            {
              "fieldId": "file_type",
              "fieldValue": "={{ $('EXRACT  USEFUL  METADATA').item.json.DOC_TYPE }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1984,
        272
      ],
      "id": "97604421-fed2-4ae1-aa44-cbe0853b5145",
      "name": "ADD RECORD TO THE DELTED FILES",
      "credentials": {
        "supabaseApi": {
          "id": "3cRXAQK1eN8QzIzJ",
          "name": "LOCAL SUPABASE V"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "document_records",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "doc_id",
              "condition": "eq",
              "keyValue": "={{ $json.DOC_ID }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1184,
        -64
      ],
      "id": "7d32881f-8bc3-4024-a69f-f0c5dccdd23a",
      "name": "CHECK FILE EXIST IN RECORD MANAGER TABLE OR NOT ",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "3cRXAQK1eN8QzIzJ",
          "name": "LOCAL SUPABASE V"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c50799b-2ad5-4338-8dd3-38bdef9e1098",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        -64
      ],
      "id": "93eca5f4-0ac8-4208-877c-315e6632aa60",
      "name": "NOT EXIST",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2384,
        -48
      ],
      "id": "6919ff6d-d352-4b46-bbd2-079cc20f5431",
      "name": "AGGREGATE "
    },
    {
      "parameters": {
        "tableId": "deleted_files",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "file_id",
              "fieldValue": "={{ $('EXRACT  USEFUL  METADATA').item.json.DOC_ID }}"
            },
            {
              "fieldId": "file_title",
              "fieldValue": "={{ $('EXRACT  USEFUL  METADATA').item.json.DOC_NAME }}"
            },
            {
              "fieldId": "file_type",
              "fieldValue": "={{ $('EXRACT  USEFUL  METADATA').item.json.DOC_TYPE }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2720,
        -48
      ],
      "id": "ad5f6398-4204-4ada-831d-749a53056f8a",
      "name": "ADD RAW TO DELTED FILES TABLE",
      "credentials": {
        "supabaseApi": {
          "id": "3cRXAQK1eN8QzIzJ",
          "name": "LOCAL SUPABASE V"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "document_records",
        "filters": {
          "conditions": [
            {
              "keyName": "doc_id",
              "condition": "eq",
              "keyValue": "={{ $('EXRACT  USEFUL  METADATA').item.json.DOC_ID }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2976,
        -48
      ],
      "id": "b921860e-f07d-4369-8b70-167389a7ed19",
      "name": "UPDATE DOCUMENT RECORD TABLE",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "3cRXAQK1eN8QzIzJ",
          "name": "LOCAL SUPABASE V"
        }
      }
    },
    {
      "parameters": {
        "content": "## DELETION WORKFLOW\n",
        "height": 704,
        "width": 3488
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        -160
      ],
      "id": "cb8a87c6-3e3e-4f7a-ae6f-b7d1967f0cec",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "11aLU7HHOOiJj6z9jDoxZU9BwJduTZvwD",
          "mode": "list",
          "cachedResultName": "RECYCLE BIN",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11aLU7HHOOiJj6z9jDoxZU9BwJduTZvwD"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        32,
        -80
      ],
      "id": "84fdd6da-ccab-47c9-9d77-f6a4465535f2",
      "name": "ON FILE DELETION",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BaCkgQEh4aOXF4Og",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9db2102a-fff5-4ba7-8591-12294c437dff",
              "name": "DOC_ID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "6bf41231-c35d-4489-8c32-535865573edc",
              "name": "DOC_TYPE",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "7bf41231-c35d-4489-8c32-535865573edc",
              "name": "DOC_NAME",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        -64
      ],
      "id": "9ca09258-2ad0-4b66-bcaf-34b391354701",
      "name": "EXRACT  USEFUL  METADATA",
      "alwaysOutputData": false
    }
  ],
  "connections": {
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "EXRACT  USEFUL  METADATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE ALL OLD ROWS FROM VECTOR STORE BY FILE ID 1": {
      "main": [
        [
          {
            "node": "AGGREGATE ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE FROM PROCESSED FILES ": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADD RECORD TO THE DELTED FILES": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECK FILE EXIST IN RECORD MANAGER TABLE OR NOT ": {
      "main": [
        [
          {
            "node": "NOT EXIST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NOT EXIST": {
      "main": [
        [
          {
            "node": "ADD RECORD TO THE DELTED FILES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DELETE ALL OLD ROWS FROM VECTOR STORE BY FILE ID 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGGREGATE ": {
      "main": [
        [
          {
            "node": "ADD RAW TO DELTED FILES TABLE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADD RAW TO DELTED FILES TABLE": {
      "main": [
        [
          {
            "node": "UPDATE DOCUMENT RECORD TABLE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE DOCUMENT RECORD TABLE": {
      "main": [
        [
          {
            "node": "DELETE FROM PROCESSED FILES ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ON FILE DELETION": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXRACT  USEFUL  METADATA": {
      "main": [
        [
          {
            "node": "CHECK FILE EXIST IN RECORD MANAGER TABLE OR NOT ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "764abf43019c66c51279befb0403092fc7e1beab1eff90fa2cd5f93d91d18c8a"
  }
}
